/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: rgb(137, 81, 41);
}

/* Menu Toggle Button */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.menu-toggle:focus {
  outline: none;
}

/* Navigation Links */
nav {
  display: flex;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(137, 81, 41);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  nav.nav-open {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}

@media (max-width: 400px) {
  .logo a {
    font-size: 1.2rem;
  }

  .menu-toggle {
    font-size: 1.2rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}
